
.post-detail-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* #editpost{
  z-index: 1;
} */


.container-post-detail{
  /* left : 50%; */
  /* transform: translate(-50%, -50%); */
  /* position: relative; */
  /* top: 50%; */
  margin: 10% 25% auto 25%;
  font-family: "Raleway", sans-serif;
  width: 50%;
  height: 50%;
  z-index: 1;
  padding: .8em
}
.heading-post-detail{
  font-size: 2em;
}

.post-detail-title-author {
  line-height: 0.2em;
}

.post-detail-title-author > p {
  color: #a7a7a7;
  font-size: 0.85em;
}

.post-detail-edit, .post-detail-delete {
  background-color: #FFEB7F;
  color: black;
}