*{
    text-decoration: none !important;
    font-family: "Raleway", sans-serif;
}
.city-home {
    display: flex;
    flex-direction: row;
    background: #f7f7f7;
    height: 100%;
    margin: 0 auto;
}
.city-post-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

.city-list-container {
    width: 35vw;
    background: #a7a7a7;
    height: 100%;
    overflow-y: scroll;
}

.city-list {
    padding: 10px 0  30px 0;
}

a{
    color: black;
    text-decoration: none;
}

.city-card {
    display:flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #a7a7a7;
    border-radius: 10px;
    padding: 10px;
    margin: 4px 10px;
    min-height: 130px;
    background: #e7e7e7;
    transition: 0.2s linear;
    text-transform: uppercase;
}

.city-card:hover {
    background: #FFEB7F;
    transition: 0.2s linear;
}

.city-list-name {
    font-size: 28px;
    padding-left: 15px;
}

.city-icon {
    height: 90px;
    max-width: 100%;
    /* width: 120px; */
    background-size: contain;
    background-repeat: no-repeat;
}

.city-photo {
    width: 700px;
}

.city-top-banner {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.city-title {
    /* margin-left: 10px; */
    border: 1px solid black;
    padding: 20px;
    background: #212529;
    color: #FFEB7F;
}

.city-posts-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.city-increment, .city-decrement, .create-post{
    background-color: #FFEB7F;
    color:#212529;
}
.create-post:hover{
    background-color: rgb(255, 219, 17);
    color:#212529;
}
.city-decrement:hover{
    background-color: rgb(255, 219, 17);
    color:#212529;
}
.city-increment:hover{
    background-color: rgb(255, 219, 17);
    color:#212529;
}
.city-photo{
    width: auto;
    height: auto;
}



.city-posts {
    width: 60vw;
    margin: 0 15px;
    height: 300px;
}

.alert {
    padding: 5px 10px;
    color:#df3344;
  }

@media (max-width: 750px) {
    .city-card {
        flex-direction: column;
    }

    .city-list-name {
        font-size: 20px;
    }
    .city-photo{
        width: auto;
        height: 200px;
        margin: 10px 20px;
    }
    .city-posts{
        width: 100%;
        font-size: .5em;

    }
    .city-home {
    display: flex;
    flex-direction: column-reverse;
    background: #f7f7f7;
    /* height: 600px; */
    overflow-y: scroll;
    }
    .city-list-container{
        width:100%;
    }
    .city-detail{
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .city-top-banner{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .city-post-content{
        width: 280px;
        margin: auto;
        height: 170px;
    }
    .city-title{
        text-align: center;
    }
    .city-posts-header{
        margin: 2px 20px;
    }
}
