.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-info-header {
  line-height: 0.1em;
}

.post-info-author {
  color: #a7a7a7;
}

.post-content-preview {
  margin-top: 15px;
}
.post-content{
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
}
.see-toggle {
  background-color:#FFEB7F;
  color: black;
}

.btn-outline-secondary{
  background-color:#FFEB7F;
  color: black;
  height: 36px;
}